<div class="container-fluid">
  <div class="row">
    <div class="col-sm wow fadeInUp">
      <div class="card">
        <div class="card-header">
          Nuevo Grupo
        </div>
        <div class="card-body">
          <h5 class="card-title">Añade un grupo nuevo al sistema</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-users"></i></span>
              <span class="input-group-text">Grupo</span>
            </div>
            <input #nombreGrupo type="text" class="form-control" aria-label="Nombre del Grupo"
              placeholder="Nombre del Grupo">
          </div>
          <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="crearGrupo(nombreGrupo.value)"><i
              class="fas fa-check"></i> Añadir grupo al sistema</button>
        </div>
        <div class="card-footer">
          <small class="text-muted">No se permiten nombre de grupos repetidos</small>
        </div>
      </div>
    </div>
    <div class="col-sm wow fadeInUp">
      <div class="card">
        <div class="card-header">
          Grupos
        </div>
        <div class="card-body">
          <h5 class="card-title">Grupos disponibles en el sistema</h5>
          <div class="form-check" *ngFor="let grupo of grupos">
            <input #grupoId class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
              value="{{ grupo.id }}" (click)="obtenerAsignados(grupoId.value)">
            <label class="form-check-label" for="exampleRadios1">
              {{ grupo.nombre }}
            </label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Cambios realizados por el administrador en sesion</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="asignados">
    <div class="col-sm wow fadeInUp">
      <div class="card">
        <div class="card-header">
          Permisos Asignados
        </div>
        <div class="card-body">
          <h5 class="card-title">Listados de permisos asignados al grupo</h5>
          <ul class="list-group list-group-flush" *ngFor="let asignado of asignados">
            <li class="list-group-item"><span><b>Permiso #{{ asignado.permiso_id }} - {{ asignado.permiso }}</b></span>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">No se permiten nombres de permisos repetidos</small>
        </div>
      </div>
    </div>
    <div class="col-sm wow fadeInUp">
      <div class="card">
        <div class="card-header">
          Permisos
        </div>
        <div class="card-body">
          <h5 class="card-title">Permisos añadidos al sistema</h5>
          <div class="list-group" *ngFor="let permiso of permisos">
            <a class="list-group-item list-group-item-action" (click)="crearAsignacion(permiso.id)">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">#{{ permiso.id }} - {{ permiso.nombre }}</h5>
                <small class="text-muted">Añadido por: {{ permiso.administrador }}</small>
              </div>
              <small class="text-muted">Fecha de Ingreso: {{ permiso.fecha_ingreso | date }}</small>
            </a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>